extends ../layout


block content
    h1 Library Database
    .buttons-container
        a.button(href='/books/new') Create New Book
        form(action=`/books/search/`  method='POST')
            input#search-input.search-input(type='search' name="search" placeholder='Search...' required)
            input#search-submit.search-submit(type='submit' value='🔍')
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
        each book in books.rows
            tr
                td
                    a(href='/books/' + book.id )= book.title
                td= book.author 
                td= book.genre
                td= book.year

    if search
        -var n = 1;
        -var n2 = 1;
        -var numOfPages = Math.ceil(books.count / 5);
        div.pagination
            ul
                while n,n2 <= numOfPages
                    a(class="button space" name="page" href=`/books/search/?q=${search}&page=${n2++}`)=n++
            p.back-btn
                a(class="button back" href='/books/?page=1') Back
    else
        include pagination


        
